nav{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-top: 0%;
    padding-bottom: 0%;
}

text{
    display: flex;
    justify-content: space-between;
}



ul{
    display: flex;
    gap: 20px;
    list-style: none;
    text-size-adjust: 20px;
}

a{
    color: white;
    font-weight: 900;
}

.mail{
    color: green;
}

.link{
    color: orange;
}
    
